.main {
    text-align: center;
}

.main h2 {
    margin-top: -0.5em;
    color: rgb(233, 205, 29);
}

.main h1 {
    color: rgb(15, 168, 234);
}

.main p {

    color: white;
    font-size: 1.3rem;
}

body {
    background-color: rgb(62, 7, 151);
}